* {
    box-sizing: border-box;
}
.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5;}
.col-8 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*
div{
    border: 1px solid black;
}
*/
.faded-1 {
    opacity: 0.5;
}
.faded-2 {
    opacity: 0.25;
}
.faded-3 {
    opacity: 0.125;
}

.container {
    height: 100vh;
    margin: 1vh 2w 1vh 2vw;
    padding: .5vw .5vw .5vw .5vw;
}

.catcontainer{
    margin: -1vh -1vw -1vh -1vw;
    padding: .25vw .25vw .25vw .25vw;
}

.name {
    text-align: center;
    width: 100%
}

.textcontainer {
    padding: 1vw 1vw 1vw 1vw;
    margin-bottom: 2vh;
}

.spacer{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
#bio{
    /* Max: 105 Min: 20*/
    font-size: calc(30px + (120 - 30) * ((100vw - 300pt) / (1600 - 300)));
    line-height: calc(30px + (120 - 30) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Nunito', sans-serif;
}

#resume{
    font-size: calc(20px + (80 - 20) * ((100vw - 300pt) / (1600 - 300)));
    line-height: calc(20px + (80 - 20) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Libre Baskerville', serif;
}

#coding{
    margin-left: -1vw;
    font-size: calc(19px + (105 - 19) * ((100vw - 300pt) / (1600 - 300)));
    line-height: calc(19px + (105 - 19) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Nova Mono', monospace; 
}

#writing{
    margin-left: -1.5vw;
    font-size: calc(30px + (135 - 30) * ((100vw - 300pt) / (1600 - 300)));
    line-height:calc(36px + (135 - 36) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Kalam', cursive;
}

#portfolio{
    text-align: center;
    font-size: calc(26px + (55 - 26) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Libre Barcode 39 Text', cursive;
}

#hover{
    text-align: center;
    font-size: calc(26px + (55 - 26) * ((100vw - 300pt) / (1600 - 300)));
    font-family: 'Libre Barcode 39 Text', cursive;
}
